
<!--
<div class="card mt-2">
    <div class="card-header bg-dark text-white">
        <h3><i class="far fa-images"></i> BUSQUEDAS RECIENTES</h3>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each images}}
            <div class="col-md-4">
                <a href="/images/{{uniqueId}}">
                    <img src="/public/upload/{{filename}}" alt="" class="w-100 h-100 img-thumbnail">
                    <h2></h2>
                </a>
                
            </div>
            {{/each}}
        </div>
    </div>
</div>

-->

<div class="card mt-2">
    {{#each puestos}}
    <div class="card-header bg-dark text-white">
    {{empresa}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="/puestos/{{uniqueId}}" class="btn btn-primary">Ver mas</a>
  </div>
  {{/each}}
</div>